# Workbench Authentication
AUTH_SKIP=false
AUTH_USERNAME=admin
AUTH_PASSWORD=admin

# Autoinstall Packages (Space-separated lists)
AUTOINSTALL_NPM=@google/gemini-cli @anthropic-ai/claude-code
AUTOINSTALL_PIP=
AUTOINSTALL_BUN=
AUTOINSTALL_APT=
